<ion-header>
  <ion-toolbar>
    <ion-title>Login - RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: white;">Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input name = "user" (ionChange)="userChange($event)" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input name = "password" (ionChange)="passChange($event)" type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="validaAuth('docente')">Iniciar como Docente</ion-button>
        <ion-button expand="full" (click)="validaAuth('alumno')">Iniciar como Alumno</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>