<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
        <ion-button [routerLink]="['/login']">Login</ion-button>
        <ion-button [routerLink]="['/docente']">Asistencia</ion-button>
        <ion-button [routerLink]="['/alumno']">Alumno</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    

    
  </ion-content>
</ion-app>

