<ion-header>
  <ion-toolbar>
    <ion-title>Inicio - RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inicio-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" routerLink="/docente">Iniciar como Docente</ion-button>
        <ion-button expand="full" routerLink="/alumno">Iniciar como Alumno</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
